<dd>
  <div class='tellmemore'><%= link_to "More info", "http://discover.amee.com/categories#{x[0].path}" %></div>
  <div class='amount'>= <%= x[3].total_amount %>kg</div>
  <div class='details'>
    Item <span class='item'>"<%= x[1].label %>"</span>, input parameter <span class='inputname'>"<%= x[2].name%>"</span>
  </div>
</dd>