<div id='ask'>

  <%= form_tag '/answer', :method => :get do %>
    
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag 'Ask AMEE', :name => nil, :class => 'btn primary' %>
  <% end %>

  Please note: as Ask AMEE is still being nurtured in 
  <%= link_to 'AMEE Labs', 'http://www.amee.com/developer/labs' %>, searches may be a bit slow.
  
</div>
