<div class="row" id='thinking'>
  <div class="span16">
    <div class="alert-message warning">
      <%= @message %>... <%= image_tag "spinner.gif" %>
      <script>
        loadDetail();
      </script>
    </div>
  </div>
</div>
