<%= render :partial => 'ask'%>
<div id='querydetails'>
  OK, I'm going to look for things related to <%= @terms.map{|x| "<span class='userinput'>#{h(x)}</span>"}.join(' and ').html_safe %> that have <%= [@quantity].map{|x| "<span class='userinput'>#{x.to_s}</span>"}.join(' and ').html_safe %> as inputs.
</div>
<div>
  <dl id='results'>
    <% if session[:categories].size > 0 %>
      <%= render :partial => 'thinking'%>
    <% else %>
      <dt>Sorry, no results found.</dt>
      <dd>Maybe try a different question.</dd>
    <% end %>
  </dl>
</div>
