<div class="hero-unit">
  <h1>Ask AMEE</h1>
  <p>
    This is an experiment in making it quicker to get what you want from AMEE.
  </p>
  <p>
    Got a question for AMEE? Ask away! Try things like 
    <%= link_to "100km in a car", "answer?q=100km+in+a+car" %>,
    <%= link_to "42kWh of electricity in the UK", "answer?q=42kWh+of+electricity+in+the+UK" %>,
    or <%= link_to "fly 100t of cargo 1000km", "answer?q=fly+100t+of+cargo+1000km" %>.
	Your question must be a calculation, so include numbers, units and nouns.
  </p>
  <%= render :partial => 'ask'%>
</div>
