<div class="hero-unit">
  <h1>Ask AMEE</h1>
  <p>
    This is an experiment in making it quicker to get what you want from AMEE.
  </p>
  <p>
    Got a question for AMEE? Ask away! Try things like 
    <%= link_to "100km in a car", "answer?q=100km+in+a+car" %>,
    <%= link_to "10kg of coal", "answer?q=10kg+of+coal" %>,
    <%= link_to "42kWh of electricity in the UK", "answer?q=42kWh+of+electricity+in+the+UK" %>.
  </p>
  <%= render :partial => 'ask'%>
</div>
