@import "bootstrap";

footer img {
	float: right;
}

body {
	margin-top: 40px;
}

div.topbar div.fill {
  background-color: rgb(116,159,178);
  background-image: none;	
}

div.topbar p, div.topbar p a {
  color: white;
}

div#ask {
  text-align: center;
}

div#ask input {
}