@import "bootstrap";

footer img {
	float: right;
}

body {
	margin-top: 40px;
}

$topbarstart: rgb(127,189,200);
$topbarend: rgb(166,205,212);

.topbar-inner, .topbar .fill {
  background-color: $topbarend;
  background-image: -khtml-gradient(linear, left top, left bottom, from($topbarstart), to($topbarend));
  background-image: -moz-linear-gradient(top, $topbarstart, $topbarend);
  background-image: -ms-linear-gradient(top, $topbarstart, $topbarend);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $topbarstart), color-stop(100%, $topbarend));
  background-image: -webkit-linear-gradient(top, $topbarstart, $topbarend);
  background-image: -o-linear-gradient(top, $topbarstart, $topbarend);
  background-image: linear-gradient(top, $topbarstart, $topbarend);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$topbarstart', endColorstr='$topbarend', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

div.topbar p, div.topbar p a {
  color: white;
}

div#ask {
  text-align: center;
}

div#ask input {
  height: auto;
  font-size: xx-large;
}

div#ask input[type=text] {
  width: 500px;
}

/**
 * Mobile specific styles
 *
 * @section mobile
 * Use media queries to change the width, to fit content on the pages better when 
 * viewing with a mobile device like an iPhone or similar.
 * 
 */

@media handheld and (max-device-width: 480px), screen and (max-width: 480px)  {

  .container{
    width:auto;
  }

  .fill a.brand{
    margin-left:10px;
    padding: 8px 6px 12px;

  }

  div.alert-message{
    margin-left: 10px;
    margin-right: 10px;
  }

  .span16{
    width:auto;
  }

  .hero-unit{
    padding: 12px
  }


  #ask form{
    margin-bottom:6px;
  }

  div#ask input[type=text] {
    width: auto;
  }

  div#ask input.btn {
  display: block;
  margin-top: 12px;
  margin-left:20px;
  }

 .row {
   margin-left:0px;
 }

 div.total{
   width:230px;
 }

  .row a.btn{
    margin-left:0px;
    float:right;
    margin-top: 0.5em;
  }

  footer img{
    margin-right:12px;
    margin-bottom:12px;    
  }

}
