<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="http://www.amee.com/developer/labs">AMEElabs</a>
      <p>... the coolest new experiments from <a href="http://www.amee.com">AMEE</a><p>
    </div>
  </div>
</div>